@import '../../style/color';

.house-title {
  position: relative;
  min-width: 400px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px 6px 0 0;
  //line-height: 35px;
  height: 60px;
  text-align: left;
  background: -webkit-linear-gradient(left,#6b40fc 10%,#416ffc 20%,#a8a6ff);
  background: -o-linear-gradient(left,#6b40fc 10%,#416ffc 20%,#a8a6ff);
  background: -moz-linear-gradient(left,#6b40fc 10%,#416ffc 20%,#a8a6ff);
  background: linear-gradient(left,#6b40fc 10%,#416ffc 20%,#a8a6ff);
  background: -ms-linear-gradient(left,#6b40fc 10%,#416ffc 20%,#a8a6ff);


  .center-wrap {
    height: 60px;
    width: 400px;
    //background: rgb(255, 0, 0);
    margin: 0px auto;
  }

  .house-title-date {
    float: right;
    font-size: 14px;
    font-weight: 700;
  }
}

.main-table {
  min-width: 400px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #caddfe;
  border-top: none;
  background: #fff;
  line-height: 1.5;

  tr {
    max-height: 100px;
  }

  /*头部单元格*/
  .cell-item {
    padding: 10px 0;
  }
  .cell-item:nth-child(2n), .item-num:nth-child(2n) {
    background: #e1e7ff;
  }

  .cell-item:nth-child(2n+1) {
    background: #eff5ff;
  }

  .item-num:nth-child(2n+1) {
    //background: #fff;
  }

  .cell-top {
    margin: 5px 0;
    font-weight: 700;
  }

  .cell-bottom {
    font-weight: 600;
    margin: 5px 0;
  }
  /*单元格*/

  .row:nth-child(2n)>td:nth-child(2n) {
    background: #eff5ff;
  }
  .row:nth-child(2n+1)>td:nth-child(2n+1) {
    background: #e1ecff;
  }

  .full { // 房间已满
    background: #fa6580!important;
    color: #fff;
    font-size: 20px;
  }

  .disabled { // 不可预订
    background: #a8a6ff!important;
    color: #fff;
    font-size: 14px;
  }

  /*房源类型*/
  .row-title {
    font-weight: 600;
  }


  td {
    max-height: 100px;
    font-size: 14px;
    text-align: center;
    padding: 14px 0;
  }

  /*斜线大单元格*/

  .cell-spe {
    //width: 20%;
    max-width: 200px;
    position: relative;
    font-size: 14px;
    color: #95a7fe;
    background-color: #eff5ff;
    overflow: hidden;

    .date-text {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .housetype-text {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
  }



  .row-title {
    font-size: 12px;
  }

  /*线*/
  .line {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #caddfe;
    width: 500px;
    height: 1px;
  }
}
